@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap')
	;

body {
	background-color: #5286F3;
	font-size: 14px;
	font-family: 'Sunflower', sans-serif;
}

body::-webkit-scrollbar {
	
}

.main-content.LOGIN {
	width: 100%;
	margin: 0px auto;
}

button.close.modal-cancel {
	z-index: 500;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

.container {
	max-width: 1200px;
}

.main-content {
	margin: 0px auto;
	/* margin-left: 0px; */
}

.fc-toolbar-chunk:nth-child(1) {
	/* 
	padding-left : 2rem;
	padding-right :2rem; */
	
}

.planner, .diary {
	background-color: #fff;
}

.col-form-label {
	margin-bottom: unset;
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
	color: #0a3ea9;
}

.col-form-label.label-pw {
	word-break: keep-all;
	white-space: pre;
}

.select-menu {
	width: 100%;
	height: calc(100vh - 4.5rem);
}

.container.menu-columns {
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	padding-right: 2rem;
	padding-left: 2rem;
	flex-direction: column;
	background-color: #526df3;
	box-shadow: 0px 0px 5px 1px #0000006e;
}

.menu-rows:first-child {
	margin-top: 5rem;
}

.menu-rows:last-child {
	margin-bottom: 5rem;
}

.menu-rows {
	width: 100%;
	height: auto;
	display: flex;
	margin: 1rem 0;
}

.card.menu-btn {
	height: auto;
	background-color: unset;
	border: unset;
}

.menu-row-item {
	width: 100%;
	margin: 0 1rem;
}

.card-header {
	height: 100%;
}

p.card-text {
	font-family: 'Single Day', cursive;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
}

.card-header.card-img-top {
	background-color: unset;
	border-bottom: unset;
}

.card-img-top>a>img {
	margin: 0px auto;
	display: block;
	width: 50%;
}

.fc-col-header-cell:nth-child(1) {
	color: red;
}

.fc-col-header-cell:nth-child(7) {
	color: blue;
}

/* 회원 탈퇴  */
.secession {
	max-width: 700px;
	margin: 0px auto;
}

.secession-container {
	padding: unset;
}

.session-form {
	padding: 1rem;
}

.secession-title {
	text-align: center;
	margin: 1rem;
}

.secession-body {
	padding: 1rem;
}

.secession-row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}

.secession-input.password-input, .secession-input.readonly-input {
	padding-left: unset;
	padding-right: unset;
}

#secession-input {
	font-weight: bold;
	line-height: 2;
	background: #bbb;
	border-radius: .25rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.session-btn-group {
	text-align: center;
	padding: .5rem;
}

.session-btn {
	border: none;
	background: #ce0a0a;
	border-radius: .25rem;
	padding: .5rem 1rem;
	color: #FFF;
	font-size: .75rem;
}

.session-btn:hover, .session-btn:focus, .session-btn:active {
	background: #ce0a0a;
	filter: brightness(60%);
	outline: unset;
}