@charset "UTF-8";

body {
	margin: 0px auto;
}

label {
	
}

.main-content {
	
}

.planner {
	
	background-color: #fff;
	padding: 1rem;
}

.col-form-label {
	margin-bottom: unset;
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
	color: #0a3ea9;
}

.col-form-label.label-pw {
	word-break: keep-all;
}