@charset "UTF-8";

.calendar-container {
	background-color: #fff;
	box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.44);
	width: 100%;
}

.calendar-body {
    padding: 0 2rem;
}
.calendar-nav {
	display: flex;
	padding: 2rem 2rem 1rem;
}

.calendar-nav {
	border-bottom: 2px solid #ffffff52;
}

.nav-group-left {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#calendarTitle {
	font-family: 'Righteous', cursive;
	font-weight: bold;
	color: #000;
	letter-spacing: 3px;
	font-size: 40px;
}

.nav-group-center {
	text-align: center;
	align-self: flex-end;
	height: 2rem;
}

.nav-group-right {
	text-align: right;
	align-self: flex-end;
	height: 2rem;
}

.nav-btn-group {
	box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
	border-radius: .25rem;
	border: 1px solid #dee2e6;
	height: inherit;
}

.btn-light {
	font-weight: bold;
	font-size: 12px;
	height: 100%;
	margin: 0px;
}

.table {
	color: #fff;
	text-align: center;
}

#dayHeader>td {
	padding: 0px;
	padding-top: .2rem;
	padding-bottom: .2rem;
	font-weight: bold;
}

#date-col>tr>td {
	height: 12vh;
	text-align: right;
}

.sunday {
	color: red;
}

.saturday {
	color: blue;
}

.weekday {
	color: #000;
}

td:hover {
	background-color: #bbb;
}

#date-col tr td {
	border: 1px solid #dee2e6;
}

#date-col tr td:first-child {
	border-left: 0;
}

#date-col tr td:last-child {
	border-right: 0;
}