@charset "UTF-8";

.right-menu-side {
    height: calc(100vh - 4.5rem);
    width: 0;
    position: fixed;
    z-index: 29;
    top: 4.5rem;
    right: 0;
    background-color: #526df3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 21px 2px rgb(0 0 0 / 44%);
}

.right-menu{
	
}  