@charset "UTF-8";

.right-menu-side {
	
	height: calc(100vh - 3rem);
    width: 0;
    position: fixed;
    z-index: 40;
    top: 3rem;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.right-menu{
	
}  