@charset "UTF-8";

.modal {
	padding-left: unset;
}

/* 회원가입 모달  */
.signUp-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.modal-cancel {
	position: absolute;
	right: 1rem;
}

.signUp-header {
	background-color: #efefef;
	border-bottom: none;
}

.signUp-body {
	padding: 0px;
}

.signUp-body>form {
	width: 100%;
	margin: 0px auto;
	padding: 1rem 4rem;
	box-shadow: none;
	background: #efefef;
}

.signUp-footer {
	background-color: #efefef;
	border-top: none;
	padding: 1rem 2rem 3rem 2rem;
	justify-content: center;
}

/* 회원가입 모달 끝 */

/* 회원 프로필 모달   */
#user-info-form , #pw-update-form{
	transition: .4s;
}

.img-edit-btn, .profile-usertitle {
	cursor: pointer;
}

.profile-img:hover>.user_img {
	filter: brightness(60%);
}

.profile-usertitle-name:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

.user-profile-header {
	border: none;
}

.user-profile-body {
	padding: 2rem 1rem;
}

.profile-img {
	height: 14rem;
	overflow: hidden;
	margin: 0 auto;
	width: 50%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-img>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px
}

.profile-usertitle-name {
	color: #5a7391;
	font-size: 20px;
	font-weight: 600;
	margin: 0px auto 7px auto;
	width: fit-content;
}

.profile-usertitle-name>span {
	position: absolute;
	line-height: 1.3;
}

.profile-userbuttons {
	text-align: center;
	margin-top: 10px
}

.profile-userbuttons .btn {
	margin-right: 5px
}

.profile-userbuttons .btn:last-child {
	margin-right: 0
}

.profile-userbuttons button {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px
}

.submitBtnGroup>button {
	margin: 0px auto;
}

.badge.sm {
	padding: .7rem .25rem;
	float: right;
}

.badge {
	padding: .3rem .25rem;
	cursor: pointer;
}

.profile-row {
	padding: 0.5rem 1rem;
}

.profile-input {
	width: 90%;
	padding: 10px;
	background: transparent;
	border: none;
	outline: none;
}

.profile-input:focus ~.line-box .line {
	width: 100%;
}

.profile-input::placeholder {
	font-size: 70%;
	font-style: italic;
	text-align: right;
}

.line-box.profile-line {
	width: 90%;
}

.profile-update-form, .pw-update-form {
	padding: 1rem;
}

.profile-update-btn-box {
	width: 100%;
	padding: 1rem;
}

.profile-update-btn , .pw-update-btn {
	margin: 0px auto;
	display: block;
}

.pwChk-text-box{
	display : none;
	text-align: left;
	width: 100%;
    color : red;
    padding: .2rem;
}

/* 회원 프로필 모달 끝  */