@charset "UTF-8";


.main-content {
    width: 70%;
    margin: 0px auto;
    margin-left: 0px;
}
.main-content.LOGIN {
    width: 100%;
    margin: 0px auto;
   
}

.planner {
	
	padding : 0px;
	height: calc(100vh - 4.5rem);
}

.calendar-body{
	
	width : 70vw;
}

.calendar-container {

	border-radius: 0;	
}