<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 실질적인 쿼리문을 작성하는 곳 -->
<mapper namespace="com.spring.mapper.diaryMapper">

	<select id="createDiary" parameterType="HashMap">
	
		<![CDATA[
			${sql}
		]]>
		
	</select>
	
	<insert id="insertDiary">
		
		<![CDATA[
			
 		INSERT INTO `diary_${usercode}`(dtitle, dcontents, writeDay,regDay ) 
				VALUES( #{dtitle}, #{dcontents}, #{writeDay},#{regDay} )
		]]>
		
	</insert>
	
	<select id="getAllDiaryList" resultType="diaryVO" parameterType="HashMap">
	
		<![CDATA[
		
			${sql}
		]]>
	</select>
	<select id="getDiaryList" resultType="diaryVO" parameterType="HashMap">
	
		<![CDATA[
		
			${sql}
		]]>
	</select>
	<select id="todayWriteCheck" parameterType="HashMap" resultType="int">
	
		<![CDATA[
		
			${sql}
		]]>
	</select>
	
	<delete id="diaryDelete" parameterType="HashMap">
		
		<![CDATA[
		
			${sql}
		]]>
	</delete>
	
	<update id="diaryUpdate" parameterType="HashMap">
	
		<![CDATA[
		
			${sql}
		]]>
	</update>
</mapper>

 