<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 실질적인 쿼리문을 작성하는 곳 -->
<mapper namespace="com.spring.mapper.userMapper">


	<select id="idCheck" resultType="int">
		 <![CDATA[
		SELECT COUNT(*) FROM user WHERE userid = #{userid}
		]]>
	</select>
	
	
	<insert id="signUp">
		 <![CDATA[
			INSERT INTO user(usercode, userid, userpw, username, birth ,gender, email ,loginsort,profile_img ,thumnail_img  ) 
				VALUES(#{usercode} , #{userid},#{userpw},#{username},#{birth},#{gender},#{email},#{loginsort},#{profile_img},#{thumnail_img})
		]]>
	
	</insert>
	
	<insert id="oauthSignUp">
		 <![CDATA[
			INSERT INTO user(usercode, userid,  username, birth ,gender ,loginsort,profile_img ,thumnail_img  ) 
				VALUES(#{usercode} , #{userid},#{username},#{birth},#{gender},#{loginsort},#{profile_img},#{thumnail_img})
		]]>
	
	</insert>
		
	<select id="loginPwChk" resultType="int">
		
		 <![CDATA[
			SELECT COUNT(*) FROM user WHERE userid = #{userid} AND userpw = #{userpw}
		]]>
		
	</select>
	<select id="userCodeChk" resultType="int">
		
		 <![CDATA[
			SELECT COUNT(*) FROM user WHERE usercode = #{usercode} 
		]]>
		
	</select>
	
	<select id="loginSortChk" resultType="String">
		
		 <![CDATA[
			SELECT loginsort FROM user WHERE userid = #{userid}
		]]>
		
	</select>


	<select id="getUserInfo" resultType="userVO">
		
		 <![CDATA[
			SELECT * FROM user WHERE userid = #{userid} AND userpw = #{userpw}
		]]>
		
	</select>
	
	
	<update id="profileUpdate">
		
		 <![CDATA[
			UPDATE user SET uphn =#{uphn} , email =#{email}  WHERE usercode = #{usercode} 
		]]>
		
	</update>
	
	<select id="getUserInfoCode" resultType="userVO">
	 	<![CDATA[
			SELECT * FROM user WHERE usercode = #{usercode}
		]]>
	
	</select>
	<select id="beforePwChk" resultType="int">
		
		 <![CDATA[
			SELECT COUNT(*) FROM user WHERE usercode = #{usercode} AND userpw = #{userpw}
		]]>
		
	</select>
	
	<update id="pwUpdate">
		
		 <![CDATA[
			UPDATE user SET userpw =#{userpw}  WHERE usercode = #{usercode} 
		]]>
		
	</update>
	
	<update id="updateProfileImg">
		
		 <![CDATA[
			UPDATE user SET profile_img =#{profile_img} , thumnail_img=#{thumnail_img} WHERE usercode = #{usercode} 
		]]>
		
	</update>
	
	<select id="secessionPwChk" resultType="int" parameterType="HashMap">
	
		 <![CDATA[
			${sql}
		]]>
	</select>
	
	
	<insert id="userDeleteDiary" parameterType="HashMap">
	 <![CDATA[
			${sql}
		]]>
	</insert>
	
	<insert id="userDeletePlanner" parameterType="HashMap">
	 <![CDATA[
			${sql}
		]]>
	</insert>
	<insert id="userDelete" parameterType="HashMap">
	 <![CDATA[
			${sql}
		]]>
	</insert>
</mapper>

 