@charset "UTF-8";

.simple-login-container {
	width: 300px;
	max-width: 100%;
	margin: 50px auto;
}

.simple-login-container h2 {
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight : bold;
}
.btn-block{
	width: 300px;
	height: 50px;
	color: #fff;
}
.simple-login-container .btn-login {
	background-color: #FF5964;
	color: #fff;
	
}

.simple-login-container .btn-signUp {
	background-color: #5452f3;
	color: #fff;
	
}

.loginBtn{
	
	height: 50px;
}

.signIn-form-row > .form-group {
	
	padding : unset;
}
#kakao{
	
	background-color: #ffe90a;
    width: 100%;
    display: flex;
    border-radius: .25rem;
}

.kakaoLogo{
	
	padding: 0px 1rem 0px 1rem;
}

.kakao-login{
	
	width: 100%;
    color: #341819;
    font-size: 1.25rem;
    line-height: 2.4;
    font-weight: bold;
    padding: 0px 0px 0px 2rem;
}

#google{
	
	background-color: #ffffff;
    width: 100%;
    display: flex;
    border-radius: .25rem;
}

.googleLogo{
	
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.google-login{
	
	width: 100%;
    color: #341819;
    font-size: 1.25rem;
    line-height: 2.4;
    font-weight: bold;
    padding: 0px 0px 0px 2rem;
}

.signIn-form > .row, .simple-login-container > .row {
	
/* 	
	margin-right: -3vw; 
	margin-left: -3vw; */
}
